services:
  hpc_drive:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hpc_drive_service
    ports:
      - "7777:7777"
    volumes:
      - drive_data:/app/data # Persistent volume for SQLite DB and potentially other data
      - uploads_data:/app/src/hpc_drive/uploads # Persistent volume for uploaded files
    environment:
      DATABASE_URL: "sqlite:////app/data/drive.db"
      AUTH_SERVICE_ME_URL: "http://auth_service:8080/api/v1/me"
    restart: unless-stopped

volumes:
  drive_data: # Volume for the SQLite database (drive.db)
  uploads_data: # Volume for user uploaded files
