# Application Dependencies
alembic
bcrypt
email-validator
fastapi
httpx
passlib
pydantic
pydantic-settings
PyJWT
python-dotenv
python-jose
python-multipart
requests
sqlalchemy
sqlmodel
uvicorn[standard]
PyMySQL
alembic
cryptography

# Development & Testing Dependencies
black
pytest
pytest-mock
python-lsp-server
ruff
